<div class="container my-5">
  <h1 class="mb-4 text-center">Ваша корзиночка</h1>

  <% if @cart.empty? %>
    <div class="alert alert-info text-center">Ваша корзина пуста.</div>
  <% else %>
    <table class="table table-striped align-middle">
      <thead>
      <tr>
        <th>Товар</th>
        <th>Количество</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <%= link_to product.name, product_path(product), class: "fw-semibold" %>
          </td>
          <td><%= @cart[product.id.to_s] %></td>
          <td><%= number_to_currency(product.price * @cart[product.id.to_s], unit: "₽") %></td>
          <td>
            <%= button_to "Удалить", remove_from_cart_path(product), method: :delete, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="text-end mt-4">
      <%= link_to 'Оформить заказик <3', new_order_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>
