<div class="container my-5">
  <h1 class="mb-4 text-center">Каталог товаров</h1>

  <!-- Категории -->
  <nav class="mb-4 text-center">
    <strong>Категории:</strong>
    <%= link_to "Все", products_path, class: "btn btn-outline-secondary btn-sm mx-1" %>
    <% Category.all.each do |category| %>
      <%= link_to category.name, products_path(category_id: category.id), class: "btn btn-outline-secondary btn-sm mx-1" %>
    <% end %>
  </nav>

  <% if current_user&.admin? %>
    <div class="text-end mb-4">
      <%= link_to "Добавить категорию", new_category_path, class: "btn btn-primary" %>
      <%= link_to "Удалить категорию", delete_categories_path, class: "btn btn-primary" %>
      <%= link_to "Добавить товарчик", new_product_path, class: "btn btn-primary" %>
    </div>
  <% end %>

  <!-- Товары -->
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <% if product.image.attached? %>
            <%= image_tag product.image, class: "card-img-top", alt: product.name, style: "height: 250px; object-fit: cover;" %>
          <% else %>
            <div class="bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 250px;">
              Нет изображения
            </div>
          <% end %>

          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text flex-grow-1"><%= truncate(product.description, length: 100) %></p>
            <p class="card-text fw-bold mb-3">Цена: <%= number_to_currency(product.price, unit: "₽") %></p>

            <div class="d-grid gap-2">
              <%= link_to 'Подробнее', product_path(product), class: 'btn btn-outline-primary btn-sm' %>

              <% if user_signed_in? %>
                <%= button_to 'Добавить в корзиночку', add_to_cart_path(product), method: :post, class: 'btn btn-success btn-sm w-100' %>
              <% else %>
                <%= link_to 'Войдите, чтобы добавить в корзиночку', new_user_session_path, class: "btn btn-warning btn-sm" %>
              <% end %>

              <% if current_user&.admin? %>
                <%= link_to "Редактировать", edit_product_path(product), class: "btn btn-warning btn-sm" %>
                <%= button_to "Удалить", product_path(product), method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-danger btn-sm w-100", form: { class: "d-inline" }%>

            <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
